# Log lots of extra information about DHCP transactions.
#log-dhcp

# Log all dns queries
#log-queries

# Don't use hosts nameservers
no-resolv

# Use this server as default nameserver, then cloudflare; prefer 1^4
server=10.0.0.1
server=1.0.0.1
server=1.1.1.1
strict-order

# Explicitly define host-ip mappings
address=/myhost.company/10.0.0.1

# General purpose configs
bogus-priv
domain-needed
filterwin2k

# Bind to the eth0 interface
interface=eth0

# Set the local name to localco
local=/myhost.company.com/
domain=company.com

# Dynamic DHCP range: 10.0.0.100-200
# Netmask 255.255.255.0
# TTL 1h
dhcp-range=10.0.0.100,10.0.0.200,255.255.255.0,1h

# 2x pool.ntp.org, 2x ntp.ubuntu.com
dhcp-option=option:ntp-server,194.57.169.1,62.210.244.146,91.189.91.157,91.189.94.4

# DNS server is local machine address
dhcp-option=option:dns-server,10.0.0.1

# The default gateway
dhcp-option=3,10.0.0.1

dhcp-lease-max=150
#dhcp-leasefile=/var/lib/dnsmasq.leases
dhcp-authoritative

# TODO: Add TFTP support here. This config doesn't work yet!
#option tftp-server-name "10.0.0.1"
#option option-60 "PXEClient"
#option bootfile-name "Boot/pxeboot.0"
#filename "/grldr"
#server-name "10.0.0.1"
#next-server 10.0.0.1
